.cancel-icon-section {
  cursor: pointer;
}

.modal-header {
  border-bottom: none;
  align-items: flex-end;
  display: block;
  padding: 0px;
  height: 0px;
}

.modal-body {
  padding: 0px;
}

.modal-backdrop {
  background-color: rgb(255, 255, 255);
  z-index: 0;
}

.modal-content {
  border-radius: 0px;
  border: none;
  box-shadow: rgba(34, 34, 34, 0.15) 0px 2px 20px 0px;
}

.dismiss-modal {
  cursor: pointer;
}

@media (max-width: 767.98px) {
  .modal-dialog {
    margin: 0px;
  }

  .modal {
    min-height: 100vh;
  }

  .modal-content {
    box-shadow: none;
  }

  .modal-dialog-centered {
    align-items: flex-start;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .modal {
    height: 100vh;
  }
}

.dismiss-modal {
  padding: 15px 15px 15px;
  color: #000;
}

.dismiss-modal-right {
  text-align: right;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 540px;
    margin: 1.75rem auto;
  }
}
