body {
  font-family: helveticaneuew01-55roma, sans-serif;
  color: white;
  font-size: 1em;
}

.padding {
  padding: 1.5em;
}
.header {
  color: #20303c;
  font-size: 40px;
}

.small-header {
  color: #20303c;
  font-size: 20px;
}

.base-img {
  content: url('https://i.ibb.co/6v5tfkJ/computer-desk-keyboard-2343477.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0px;
  padding: 0px;
}

#footer {
  /* background: rgb(0, 4, 16); */
  background: #2b2b52;
  color: white;
}

#contact .fas,
#contact .fab {
  color: white;
  font-size: 1em;
}

